$backgroundColor: #11171e;
$white: #fff;
$color_1: #303742;
$color_2: #2b313b;
$color_3: #1f252d;
$color_4: #1b2028;
$color_5: #338f1c;
$color_6: #37a117;
$color_7: #657387;
$color_8: #2cb103;
$color_9: #777f88;
$color_10:#2b323d;